*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Century Gothic";
  max-width: 1200px;
  width: 90%;
  margin: 2rem auto;
  border: 2px solid #eee;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
}

button {
  font: inherit;
}
